.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav{
  z-index: 1;
  display: flex;
justify-content: start;
color: white;
padding: 20px;
background: #ffffff;
width: 100%;
}

.wrapperOpen{
z-index: 2 !important;
background: rgba(0, 0, 0, 0.671) !important;
display: flex !important;
pointer-events: all !important;
}

.wrapper{
  transition: all 0.4s ease-in-out;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 30px;
  color: black
}
.closeBars{
  div:nth-child(1){
    width: 20px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    rotate: -45deg;
    position: relative;
    top: 6px
  }
  div:nth-child(2){
    rotate: 45deg;
    width: 20px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    top: -1px;
    position: relative;
  }
  div:nth-child(3){
    top: -100%;
  }
}

.openBars{
  div{
    rotate: 0deg;
    top: 0;
    position: relative;
  }
}
.Bars{

  background: transparent;
  overflow: hidden;
  gap:4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  div{
    transition: all 0.4s ease-in-out;
    width: 20px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
  }
}

.menu{
  z-index: 3;
  position: absolute;
  width: 50%;
  background: #ffffff;
  top: 64px;
  left: -100%;
  height: 100vh;
  transition: all 0.4s ease-in-out;

}

.links{
  padding: 10px 20px;
    transition: all 0.1s ease-in;
    border-bottom: 1px #282828 solid;
    width: 100%;
    text-align: left;

  &:active{
    
    animation: buttonTap 0.1s ease-in-out;
  }

}


@keyframes buttonTap {
  0%{
    background: linear-gradient(90deg, #343434, rgb(124, 124, 124) 100%)
  }
  100%{
    background: linear-gradient(90deg, rgb(124, 124, 124), #343434)
  }
}

.menuOpen{
  left: 0%;
}
.menuClose{
  left: -100%;
}