@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

//=======================================================================
.container{
  max-width: 1449px;
  margin: 0 auto;
  @media(max-width:1460px){
    max-width: 1200px;
  }
  @media(max-width:992px){
    max-width: 750px;
  } 
  @media(max-width:767px){
    max-width: none !important;
    padding: 0 15px;
  }
}
//=======================================================================

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}

//=======================================================================

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
}

::-webkit-scrollbar-thumb:hover {
  background: #343434; 
}

::-webkit-scrollbar-thumb:active {
  background: rgb(48, 48, 48); 
}

//=======================================================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
outline: none;
}
a:focus,
a:active {
outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 24px;
	font-size: 16px;
	text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;
	font-size: 16px;
  line-height: 24px;
}
input,
button,
textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
  line-height: 24px;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
  display: block;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
